*{
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}
.App{
  /* background: aqua; */
}

.nav-bar{
  background: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  /* padding: auto; */
}

.logo-img{
  width: 24px;
  height: 24px;
  margin-right: 7px;
}



/* Card Design */

.card-group{
  display: flex;
  margin: 45px auto;
  /* width: 470px; */
  width: 570px;
}
.card-image{
  width: 125px;
  height: 168px;
  margin-right: 19px;
}
.card-text{
  /* align-items: center; */
  height: 158px;
}
.top-text{
  font-size: 10.24px;
}
.location-icon{
  margin-right: 6px;
}
.links{
  margin-left: 10px;
  text-decoration: underline;
  color: grey;
}
.location{
  margin-top: 8px ;
  margin-bottom: 18px;
}
.description{
  width: 326px;
  margin-top: 7px;
  font-size: 10.24px;
}