*{
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: aqua;
}
.App{
  /* background: aqua; */
}

.nav-bar{
  background: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  /* padding: auto; */
}

.logo-img{
  width: 24px;
  height: 24px;
  margin-right: 7px;
}



/* Card Design */

.card-group{
  display: flex;
  background-color: aqua;
  margin: 15px 0 15px 0;
}